
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Pixelated MS Sans Serif";
    zoom: 2;
}

.centered-content {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.title-bar-wrapper {
    display: flex;
    align-items: center;
}

.title-bar-icon {
    margin: -2px 3px -3px 0;
}

.title-bar-icon img {
    height: 16px;
}