
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Pixelated MS Sans Serif";
    zoom: 2;
}

.focused {
    outline: 1px dotted #000;
    outline-offset: -4px;
}

.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-bar-wrapper {
    display: flex;
    align-items: center;
}

.title-bar-icon {
    margin: -2px 3px -3px 0;
}

.title-bar-icon img {
    height: 16px;
}

.news-bar-blue {
    color: #06f;
}